
@media (max-width: 1600px) {
.btn_block04 {
	width: calc(50% - 12.5px)
}
}

@media (max-width: 1480px) {
.slider_doitac.owl-carousel .owl-nav .owl-next, .slider_doitac.owl-carousel .owl-nav .owl-prev {
	display: none;
}
.h400{
	height: 360px;
}
}

@media (max-width: 1230px) {
.qoutes {
	background: #f3f3f3;
	border-radius: 5px;
	padding: 34px 15px;
	width: 97%;
	margin: auto;
	margin-bottom: 34px;
}
header .navbar-default .nav_custContent > .active > a:after, header .navbar-default .navbar-nav > .active > a:before {
	content: "";
	display: block;
	position: absolute;
	width: 40%;
	height: 2px;
	left: 50%;
	transform: translateX(-50%);
}
header .navbar-default .navbar-nav > li > a:hover:after, header .navbar-default .navbar-nav > li > a:hover:before {
	content: "";
	display: block;
	position: absolute;
	width: 40%;
	height: 2px;
	left: 50%;
	transform: translateX(-50%);
}
header .navbar-default .nav_custContent > li > a:hover:before, header .navbar-default .nav_custContent > .active > a:before {
	top: inherit;
	bottom: 0;
	background: #66b969;
	transform: none;
	left: 20%
}
header .navbar-default .nav_custContent > li > a:hover:after, header .navbar-default .nav_custContent > .active > a:after {
	bottom: 0;
	background: #199cc7;
	transform: none;
	right: 30%
}
.toivaieg {
	padding-top: 30px;
}
.qoutes_content:after, .qoutes_content:before {
	content: "";
	display: block;
	width: 30px;
	height: 50px;
	position: absolute;
}
.qoutes_content:before {
	background: url(../image/quotes_left.png) no-repeat;
	background-size: contain;
	top: 9px;
	left: -100px;
}
.qoutes_content:after {
	background: url(../image/quotes_right.png) no-repeat;
	background-size: contain;
	top: 11px;
	right: -100px;
}
.qoutes_content {
	position: relative;
	width: 80%;
	margin: auto;
	font-size: 16px;
	color: #003366;
}
header .nav_custContent {
	position: static;
	transform: none;
	float: none;
	margin: 0 auto;
}
header .navbar-right {
	transform: none;
	right: 15px;
	top: 15px;
}
header .container > .navbar-header {
	width: 100%;
	display: flex;
	justify-content: center;
}
header .container > .navbar-header a {
	float: inherit;
}
header .navbar .navbar-nav > li > a {
	z-index: 2;
}
.search_main {
	right: 5px;
	top: 5px;
	display: block !important;
}
.col-2-cust img {
	height: 90px;
}
.count, .title_bgInfo {
	font-size: 30px;
}
.col-4-cust >p.font24, .content_bgInfo {
	font-size: 20px !important;
}
.wpx1470 {
	padding-left: 15px;
	padding-right: 15px;
}
	.content_left {width: 300px}
	.content_right{width: calc(100% - 320px)}
}

@media (max-width: 992px) {
header .container.posiRelative {
	width: calc(100% - 30px)
}
.course-item{
	min-height: 70px !important;
	margin-top: 3px;
}
header .nav_custContent {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.wpx920_width100vh {
	width: 100%;
}
.block_04 {
	border-radius: 0;
}
.slider_doitac img {
	height: 75px;
}
.col-6-cust {
	width: 100%;
}
.form-flex .col-4-cust {
	width: calc(33.333333% - 15px);
}
.form-flex .col-8-cust {
	width: calc(66.666666% - 7px);
}
.btn_block04 {
	height: 45px;
	line-height: 45px;
}
.qoutes {
	background: #f3f3f3;
	border-radius: 5px;
	padding: 34px 15px;
	margin-bottom: 29px;
	width: 97%;
	margin: auto;
	margin-top: 30px !important;
	margin-bottom: 30px
}
.qoutes_content:after, .qoutes_content:before {
	content: "";
	display: block;
	width: 30px;
	height: 50px;
	position: absolute;
}
.qoutes_content:before {
	background: url(../image/quotes_left.png) no-repeat;
	background-size: contain;
	top: 0;
	left: -50px;
}
.qoutes_content:after {
	background: url(../image/quotes_right.png) no-repeat;
	background-size: contain;
	bottom: -30px;
	right: -30px;
	top: inherit;
}
.col-6-cust {
	min-height: inherit;
	text-align: center
}
.bg_khohoc_4 .title_bgInfo {
	text-align: center;
}
	.sliderInfo .owl-item.active.center{    transform: scale(1);}
	.sliderInfo img{height: auto}
	.sliderInfo.owl-carousel.owl-drag .owl-item{margin-top: 0;margin-bottom: 15px}
	.toivaIEG_baivietchitiet .news--text{position: relative}
}

@media (max-width: 768px) {
header .nav_custContent {
	display: block;
}
header .navbar-toggle {
	position: absolute;
	left: 15px;
	top: 19px;
}
header .navbar-right {
	display: none;
}
header .nav_custContent {
	width: 100%;
}
.sliderInfo--text {
	left: 116px;
	right: 116px;
	padding: 20px;
}
.col-2-cust img {
	margin: 40px 0;
}
.item_flex {
	width: 100%;
	margin-bottom: 20px;
}
.item_flex:nth-of-type(2) {
	flex-wrap: wrap;
}
.block_01 .col-2-cust {
	width: 50%;
	margin-bottom: 30px;
	flex: none;
}
.sliderInfo--text {
	left: 0;
	right: 0;
}
.col-md-5--cust {
	width: 650px;
	height: auto;
	background: #fff;
	position: absolute;
	/* right: 0; */
	    /* top: 50%; */
	transform: translateY(-50%);
	padding: 50px;
	position: relative;
	transform: inherit;
	float: left;
	width: 100%;
}
/* .qoutes {
        background: #f3f3f3;
        border-radius: 5px;
        padding: 34px 15px;
        margin-bottom: 34px;
        margin-top: 0px;
    }
    .qoutes_content:after, .qoutes_content:before {
        content: "";
        display: block;
        width: 30px;
        height: 50px;
        position: absolute;
    }
    .qoutes_content:before {
        background: url(../image/quotes_left.png) no-repeat;
        background-size: contain;
        top: 9px;
        left: -100px;
    }
    .qoutes_content:after {
        background: url(../image/quotes_right.png) no-repeat;
        background-size: contain;
        top: 11px;
        right: -100px;
    } */
header .navbar-default .nav_custContent > .active > a:after, header .navbar-default .navbar-nav > .active > a:before {
	display: none
}
header .navbar-default .navbar-nav > li > a:hover:after, header .navbar-default .navbar-nav > li > a:hover:before {
	display: none
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 0;
}
.navbar-default .navbar-toggle {
	border-color: #fff;
}
.navbar-collapse {
	overflow-y: auto;
	position: absolute;
	background: #fff;
	width: 100%;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	width: 100%;
	border: none;
	position: relative;
	display: block !important;
	box-shadow: none;
	background: #f2f2f2;
	margin-bottom: 15px;
	opacity: 1 !important;
}
.title_block {
	font-size: 28px;
	
    margin-top: 40px !important;
}
.mt_80 {
	margin-top: 40px !important;
}
.mb_80 {
	margin-bottom: 40px !important;
}
.mt_160 {
	margin-top: 50px !important;
}
.mb_100 {
	margin-bottom: 40px !important;
}
.font24 {
	font-size: 20px;
}
.lotrinhhoc .col-3-cust {
	height: 170px;
	text-align: center
}
.lotrinhhoc {
	margin-bottom: 100px;
}
.sliderInfo img {
	height: auto;
	object-fit: cover;
}
.sliderInfo .owl-item.active.center {
	transform: scale(1);
}
.sliderInfo.owl-carousel.owl-drag .owl-item {
	margin-top: 0;
	margin-bottom: 0;
}
.item_flex--item {
	width: calc(50% - 30px);
	font-size: 14px;
	margin-bottom: 15px
}
.item_03--list span, .item_03--list img {
	float: none;
}
.item_03--list.text-right {
	text-align: center
}
footer {
	padding-top: 50px;
	padding-bottom: 50px;
}
.col-6-cust {
	padding: 60px 40px;
	min-height: inherit;
	text-align: center
}
.content_bgInfo {
	margin-bottom: 30px
}
.title_bgInfo {
	text-align: center
}
.btn_cust--bl2 {
	float: none !important;
	display: block;
	height: 35px;
	width: 135px;
	line-height: 35px;
	text-align: center;
	background: #66b969;
	color: #fff;
	border-right: 2px;
	margin: 0 auto;
}
.bgInfo_2 .col-4-cust:after {
	left: 50%;
	margin-left: -50px;
}
.col-2-cust:nth-child(2n):after {
	display: none
}
	.news--text{position: relative;font-size: 18px}
	.wimg100{position: relative;display: block}
	.lotrinhhoc .col-3-cust{width: calc(50% - 12.5px);margin-bottom: 15px}
	.content_left {width: 100%}
	.content_right{width: 100%}
	.list-inline li .font18 {font-size: 20px;font-weight: 800}
	.list-inline > li{display: block}
	.list-inline li a,.list-inline li img{display: block;width: 100%}
	ul.content_left--list.mt_130_cust >li >ul >li:first-child{padding: 10px 5px}
	.toivaIEG_baivietchitiet{padding-left: 0}
}

@media (max-width: 530px) {
.item_flex--item {
	width: calc(50% - 30px);
	font-size: 14px;
	margin-bottom: 15px;
}
.btn_block04 {
	width: 49%;
}
.col-4-cust {
	width: 50%;
	position: relative;
}
.form-flex .col-4-cust {
	width: 100%;
	margin-bottom: 10px
}
.form-flex .col-8-cust {
	width: 100%;
	margin-bottom: 10px
}
.form-flex.mb_30 {
	margin-bottom: 0 !important
}
.block_04 {
	padding: 30px 20px
}
.block_01 {
	margin-bottom: 50px
}
.col-4-cust >p.font24, .content_bgInfo {
	font-size: 16px !important;
}
.blog-img{
	max-height: 130px;
    min-height: 100px;
}
	.toivaieg .col-4-cust{width: calc(50% - 10px); flex: none}
	.video-js{height: 135px}
	.title_tintuc,.title_tintuc.mt_100{margin: 20px 0 !important}
}

@media (max-width: 410px) {
.item_flex--item {
	width: calc(100% - 30px);
	font-size: 14px;
	margin-bottom: 15px;
}
.block_01 .col-2-cust {
}
}

@media (max-width: 376px) {
.sliderInfo--text {
	
	font-size: 12px;
	padding: 15px;
}
.course-item{
	min-height: 70px !important;
	margin-top: 3px;
}
}
